
/*************** basic ******************/












/*************** common ******************/








.radius-5{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.radius-50 {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.margin-15{
	margin : 15px;
}

.min-w-90-px{
    min-width: 90px;
}