
/*************** basic ******************/












/*************** common ******************/











.radius-50 {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.margin-15{
	margin : 15px;
}